
h2 {
    font-size: 2em;
    text-align: center;
    padding-bottom: .2em;
}

.characters-container {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 90vh;
}

.box {
    padding-top: 2em;
}



@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .characters-container {
        height: 90vh;
        margin:  0 auto;
    }
    .box {
        display: flex;
    }
}
