<div class="container">
  <div class="game-intro">
    <p class="c1">" You wake up in a room. "</p>
    <p class="c2">
      " Your head is killing you and <br />
      you’re not sure where you are… <br />
      you look around and see you’re in a motel in the city. "
    </p>
    <p class="c3">
      "On the counter is a knife… <br />you grab it and open the door."
    </p>
  </div>
  <div hidden="true" class="combat">
    <p>
      " You see a stranger coming up to you and they strike you quickly! You
      must react or you will die "
    </p>
  </div>
</div>
