.c1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(50, end) forwards, blink 0.8s infinite;
  font-size: 1.8rem;
  width: 0;
}
.narrator {
  display: inline-block;
  margin-top: 35%;
  margin-left: 5%;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

div {
  display: flexbox;
}
