/* You can add global styles to this file, and also import other style files */

body {
    color:rgb(100, 13, 182);
    font-family: Cyberwar;
    background-color: black;
    text-shadow: 0 0 3px #fff, 0 0 10px rgb(215, 210, 210), 0 0 10px #c035e3, 0 0 10px #9411a0, 0 0 15px #f115f5, 0 0 20px #ca15e1, 0 0 20px #000000;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

p {
    font-family: Asher Punk Demo Version;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 0 0 3px #fff, 0 0 3px rgb(215, 210, 210), 0 0 5px #c035e3, 0 0 4px #9411a0, 0 0 7px #f115f5, 0 0 5px #ca15e1, 0 0 5px #000000;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    border: 2px solid;
    font-family: Asher Punk Demo Version;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    /* border: none; */
    border-color:#7a00ff;
    outline: none;
    color: #fff;
    background: rgb(7, 7, 7);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/* iphone 12 media query */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
