 img {
    width: 17em;
    height: 17em;
    border: 1px solid red;
    border-radius: 10px;
 }

 .character-model {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 2em;
 }


 @media (min-width:961px) {
     /* tablet, landscape iPad, lo-res laptops ands desktops */

     img {
        height: 28em;
        width: 30em;
     }
    .character-model {
        padding-left: 18em;
        padding-top: .5em;
    }
 }