.list-item {
    display: flex;
    width: 240px;
    padding-left: 3em;
    gap: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

p {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
    padding-bottom: .2em;
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .list-item {
        width: 400px;
    }

    p {
        font-size: 1.7em;
    }
    
}