<div class="creation-div">
  <form class="" [formGroup]="form" (ngSubmit)="submit()">
    <div class="name-input">
      <h1 class="character-name">What is your name?</h1>
      <input class="text-input" type="text" placeholder="Type Name Here!" formControlName='characterName'/>
      <p *ngIf="characterName.errors && characterName.touched">This field can not be empty</p>
    </div>

    <div id="bottom-border"></div>

    <div class="creation-display">
      <div class="creation-model">
        <h1 class="sprite-header">
          Choose you're look!<!-- import character model here -->
        </h1>
        <img class="sprite" src="{{ biker }}" alt="" />
      </div>
      <div class="creation-stats">
        <h1 class="stats-header">ROLL YOUR STATS!</h1>
        <div class="roll-stats">
          <app-character-stats></app-character-stats>
          <button class="btn glow-on-hover roll-button">ROLL</button>
        </div>
        <div class="button">
          <button class="btn glow-on-hover space" routerLink="/sign-up">
            BACK
          </button>
          <button class="btn glow-on-hover space" routerLink="/character-list">
            CONFIRM
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<p>character-creation works!</p>