<div class="creation-div">
  <form class="" [formGroup]="form" (ngSubmit)="submit()">
    <div class="name-input">
      <h2 class="character-name">What is your name?</h2>
      <input
        class="text-input"
        type="text"
        placeholder="Type Name Here!"
        formControlName="characterName"
      />
      <p *ngIf="characterName.errors && characterName.touched">
        This field can not be empty
      </p>
    </div>

    <div id="bottom-border"></div>

    <div class="creation-display">
      <div class="creation-model">
        <h2 class="sprite-header">
          Choose you're look!<!-- import character model here -->
        </h2>
        <app-character-model [character]="character"></app-character-model>
      </div>
      <div class="creation-stats">
        <h1 class="stats-header">ROLL YOUR STATS!</h1>
        <div class="roll-stats">
          <app-character-stats [stats]="this.stats.value"></app-character-stats>
          <button
            class="btn glow-on-hover roll-button"
            *ngIf="!this.stats.value.s"
            (click)="rollStats()"
          >
            ROLL
          </button>
        </div>
        <div class="button">
          <button class="btn glow-on-hover space" routerLink="/sign-up">
            BACK
          </button>
          <button type="submit" class="btn glow-on-hover space">CONFIRM</button>
        </div>
      </div>
    </div>
  </form>
</div>
